{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Apparel{% endblock %}

{% block content %}

<section class="container-fluid">
	<div class="container py-5">
		<div class="row">
			<div class="col-10 offset-1 p-3">
				<img class="large-img m-2" src="https://raw.githubusercontent.com/Voggastur/full-stack-framework-project/master/media/front.jpg" alt="women in dresses"/>
				<h1 class="font-weight-bold my-3">Africa Hab Apparel</h1>
				<p class="front-p m-0">This is a new startup website made to showcase homemade bags, dresses and
					earrings with african flair.
					Everything has been handmade by Lidya, a native of Ethiopia who's a designer of dresses, bags and other accessories.
                    The website doesn't have too much fancy flare to it yet, but it makes a showcase of her products!</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}