{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Apparel{% endblock %}

{% block content %}

<section class="container-fluid">
	<div class="container py-5">
		<div class="row">
			<div class="col-10 offset-1 p-3">
				<img class="front-img m-2" src="{{ MEDIA_URL }}front.jpg" alt="women in dresses"/>
				<h1 class="front-h1 font-weight-bold text-center my-3">Africa Hab</h1>
				<p class="front-p text-center">This is a new startup website made to showcase homemade cloth products with african flair.
					All the products have been made by Lidya who's been designing dresses, bags and accessories since a long time.</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}