{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid">
	<div class="container py-5">

		<!-- Heading Row -->
		<div class="row">
			<div class="col-md-7 p-5">
				<img class="large-img-left" src="https://raw.githubusercontent.com/Voggastur/full-stack-framework-project/master/media/dresses.jpg" alt="clothes"/>
			</div>
				<div class="col-md-5 p-5">
					<h1 class="font-weight-light">Salomos Apparel</h1>
					<p class="m-0">This is a new startup website made to showcase homemade bags, dresses and
						jewelry with african flair.
						Everything has been handmade by Lidya a native of Ethiopia on the horn of Africa who's been
						designing dresses, bags and accessories since 2010.
						She is skilled and dedicated in her craft and this website is a showcase of her
						products!</p>
				</div>
			</div>

			<!-- Call to Action Well -->
			<div class="card my-5 py-4 text-center">
				<div class="card-body">
					<p class="m-0">Dress with african fashion! A call to ages past, when clothes were made by hand. Here
						is a showcase on some of Lidyas best creations!</p>
				</div>
			</div>

		</div>
		<!-- /.container -->
</section>

{% endblock %}