{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- FAQ{%endblock %}

{% block content %}

<h5 class="text-center my-5">Frequently Asked Questions</h5>


<div class="container my-5">
    <div class="row">
        {% for question in questions %}
        <div class="col-sm-10 offset-sm-1 col-12 my-20">
            <div class="card-faq p-5 border-top border-dark">
                <!-- card-header holds Question and relevant edit buttons for the relevant user -->
                <div class="card-header">
                    <h4>
                        {{ question.text }}
                    </h4>
                    <!-- Check if question has author and timestamp otherwise give anonymous alternative paragraph -->
                    <p class="font-italic text-left">
                        Posted by {% if question.created_by %}{{question.created_by}}
                        {% else %}Guest{% endif %} at {% if question.created_at %}
                        {{ question.created_at }}{% else %}an unknown time{% endif %}
                    </p>
                    <!-- is user is same as creator, edit and delete buttons show up -->
                    {% if question.created_by == request.user %}
                    <div class="button-wrapper">
                        <a class="btn btn-outline-black" href="{% url 'edit_question' question.id %}">Edit Question</a>
                        <a class="btn btn-outline-black" href="{% url 'delete_question' question.id %}">Delete Question</a>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body"> <!-- card body holds answer and relevant edit buttons for the relevant user -->
                    {% if question.related_answer %}
                    <div class="my-5">
                        <!-- Navigation through the answer foreignkey was tricky business but a great achievement when finally done -->
                        <h4 class="text-left">{{ question.related_answer.text }}</h4>
                        <p class="text-left">Posted {{ question.related_answer.created_at }}</p>
                        <!-- If user is admin, edit and delete buttons for this answer are visible -->
                        {% if request.user.is_superuser %}
                        <a class="btn btn-outline-black" href="{% url 'edit_answer' answer.id %}">Edit Answer</a>
                        <a class="btn btn-outline-black" href="{% url 'delete_answer' answer.id %}">Delete Answer</a>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="my-5">
                        <p class="text-muted text-italic">
                            <small>Question is awaiting input from admin</small>
                        </p>
                        {% if request.user.is_superuser %}
                        <div class="button-wrapper">
                            <p>Admin Controls</p>
                            <!-- Button for 'add_answer' or delete_question for easy admin access -->
                            <a class="btn btn-outline-black" href="{% url 'add_answer' question.id %}">Add an answer</a>
                            <a class="btn btn-outline-black" href="{% url 'delete_question' question.id %}">Delete Question</a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <!-- .card-body end -->
            </div>
            <!-- .card-faq end -->
        </div>
        <!-- col-12 end -->
        {% endfor %}
    </div>
</div>
<!-- Button for 'add_question' -->
<div class="d-flex my-5 justify-content-center">
    <a class="btn btn-outline-black" href="{% url 'add_question' %}">Add a Question</a>
</div>
{% endblock %}
