/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Category Buttons Styling */

.button-container {
  width:100%;
  padding: 40px;
  background: #212529;
  -webkit-box-shadow: 0px 0px 15px 0px #212529;
  box-shadow: 0px 0px 15px 0px #212529;
}

.button-divider-top {
  margin: 0;
  padding: 0;
  height: 30px;
}

.button-divider-bottom {
  margin: 0;
  padding: 0;
  height: 30px;
}

.small-card {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 20px 0px #fff;
  box-shadow: 0px 0px 20px 0px #fff;
  overflow: hidden;
  margin-bottom: 4px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.small-card i {
  opacity: 0;
  font-size: 1.7em;
  color: burlywood;
  text-shadow: 1px 2px #000;
  top: 15px;
  will-change: transform;
  -webkit-transform: scale(0.05);
  -ms-transform: scale(0.05);
  transform: scale(0.05);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.small-card h2 {
  z-index: 6;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 0;
  right: 15%;
  color: #d1a000;
  text-shadow: 2px 2px #21162c;
  font-size: 2.5em;
  font-weight: 700;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.small-card p {
  z-index: 4;
  position: absolute;
  top: 20px;
  right: 5%;
  color: #333;
  opacity: 0.8;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pic {
  z-index: 5;
  width: 75%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: 100% 100%;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.flair {
  position: absolute;
  left: 50px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  height: 64px;
  border-radius: 80px;
}

.flair i:nth-of-type(1) {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.flair i:nth-of-type(2) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.flair i:nth-of-type(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.flair i:nth-of-type(4) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.flair i:nth-of-type(5) {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.nav-button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.small-card .nav-button {
  background-color: #d1a000;
}

.small-card:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.small-card:hover .nav-button {
  -webkit-transform: scale(28);
  -ms-transform: scale(28);
  transform: scale(28);
  opacity: 0;
}

.small-card:hover p {
  color: #fff;
  pointer-events: none;
}

.small-card:hover .pic {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.small-card:hover h2 {
  text-shadow: 3px 3px #222;
  color: burlywood;
  right: 20%;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.small-card:hover {
  -webkit-box-shadow: 0px 0px 15px 0px #d1a000;
  box-shadow: 0px 0px 15px 0px #d1a000;
}
