/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* General */

html,
body,
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a:active,
a:hover {
  color: #d1a000;
  text-decoration: none;
  cursor: pointer;
}

/* color: #d1a000; */

/* Navbar Bootstrap Fixed */

header {
  height: 80px;
}

nav {
  background: #212529;
  color: #fff;
}

.navbar-brand {
  width: 200px;
}

.navbar-brand img {
  width: 100%;
}

.nav-link {
  font-size: 1.2em;
  color: burlywood;
}

.custom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
}

.cart {
  position: absolute;
  right: 4em;
  top: 1em;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}

.bag {
  position: absolute;
  right: 8em;
  top: 1em;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}

.topblock {
  height: 120px;
}

/* Landing Section */

.front-img {
  border-radius: 20px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.front-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
}

.front-p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  line-height: 1.4em;
}

/* Products */

.product-card {
  max-width: 20em;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 15px #60555d, -3px -3px 15px #ddd;
  box-shadow: 3px 3px 15px #60555d, -3px -3px 15px #ddd;
  overflow: hidden;
}

.card-img {
  height: 19em;
  max-height: 20em;
  -o-object-fit: fill;
  object-fit: fill;
}

/* Product Detail */

.card-img-detail {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 25em;
  padding: 20px;
}

.review-card {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* FAQ */

.button-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0px;
}

.button-wrapper-p {
  text-align: center;
  font-style: italic;
}

/* About */

.about-container {
  padding: 40px 30px;
  margin: 20px 0;
  text-align: center;
}

.about-title {
  text-align: center;
  text-shadow: 2px 2px #bbb;
  font-size: 2.4em;
}

.about-text {
  font-size: 1.4em;
  line-height: 1.4em;
}

/* Footer */

.footer {
  background: #212529;
  color: burlywood;
  padding: 30px 0;
}

footer p {
  text-align: center;
  font-size: 1em;
}

footer ul {
  list-style: none;
  text-align: center;
}

footer i {
  font-size: 2.4em;
}

footer .fa-facebook {
  color: #3b5998;
}

footer .fa-pinterest {
  color: #c8232c;
}

footer .fa-instagram {
  color: #8134af;
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* Bootstrap Toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from Bulma */

.icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.shop-now-button {
  background: black;
  color: white;
  min-width: 260px;
}

.btn-black {
  background: black;
  color: white;
}

.btn-outline-black {
  background: white;
  color: black !important;
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: #000 !important;
}

a.category-badge > span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

input[name="q"]::-webkit-input-placeholder {
  color: #aab7c4;
}

input[name="q"]::-moz-placeholder {
  color: #aab7c4;
}

input[name="q"]:-ms-input-placeholder {
  color: #aab7c4;
}

input[name="q"]::-ms-input-placeholder {
  color: #aab7c4;
}

input[name="q"]::placeholder {
  color: #aab7c4;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
  display: none;
}

.allauth-form-inner-content input::-webkit-input-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input::-moz-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input:-ms-input-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input::-ms-input-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: #17a2b8; /* text-info */
}

/* Below two classes from Ian Lunns Hover.css */

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d1a000;
  height: 4px;
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* On larger screens, increase container width */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Bootstrap lg breakpoint changes */
@media (max-width: 992px) {
  .custom-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: inline;
  }
  .nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .cart {
    top: 8em;
    right: 0.5em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .bag {
    top: 3.5em;
    right: 0.5em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
