/* General */

html,
body,
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.5s;
}

a:active,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.hvr-radial-out::after:hover {
    color: white;
}

/* Navbar Bootstrap Fixed */

header {
  height: 80px;
}

nav {
  background-image: linear-gradient(to top, #fff, #f0d4e8);
}

.navbar-brand {
  width: 200px;
  margin: auto;
  transition: all 300ms ease;
}

.navbar-brand img {
  width: 100%;
}

.nav-link {
  font-size: 1.2em;
}

.custom-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.cart {
  position: absolute;
  right: 4em;
  top:1em;
}

.bag {
  position: absolute;
  right: 8em;
  top:1em;
}

.brand-header {
  font-style: oblique;
  font-family: "Montserrat";
  text-shadow: 2px 4px #eee;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 80px;
  margin-bottom: 0px;
  background-color: #fff;
}

/* Landing Section */

section {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.large-img {
  border-radius: 40px;
  width: 100%;
  object-fit: cover;
}

.front-p {
  font-family: "Montserrat";
  font-size: 1.3em;
  line-height: 1.4em;
}

.card {
  border-radius: 10px;
  box-shadow: 3px 3px 25px #60555d, -3px -3px 15px #ddd;
  overflow: hidden;
}

/* Products */

.card-img {
    height: 280px;
    object-fit: fill;
}

/* Product Detail */

.card-img-detail {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 450px;
  padding: 20px;
}

.review-card {
  align-items: center;
}

/* About */

.about-container {
  padding: 40px 30px;
  margin: 20px 0;
  text-align: center;
}

.about-title {
  text-align: center;
  font-family: "Merryweather";
  text-shadow: 2px 2px #bbb;
  font-size: 2.4em;
}

.about-text {
  font-family: "Montserrat";
  font-size: 1.4em;
  line-height: 1.4em;
}

/* Contact */


/* Video */

#videobox {
  position: relative;
  width: 100vw;
  height: 35%;
  top: 50px;
  overflow: hidden;
}

.video-caption {
  position: absolute;
  z-index: 2;
  background: #f0d4e8;
  box-shadow: 5px 5px 10px #60555d, -5px -5px 10px #ffffff;
  opacity: 0.9;
  top: 20%;
  left: 15%;
}

.video-caption h3 {
  color: papayawhip;
  text-shadow: 1px 1px black;
  line-height: 150px;
  font-size: 2.4em;
}

.video-caption p {
  color: papayawhip;
  text-shadow: 1px 1px black;
  font-size: 1.5em;
}

video {
  width: 110%;
  object-fit: cover;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
  /* btn */
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: #17a2b8; /* text-info */
}

/* FOOTER */

.footer {
  background-image: linear-gradient(to top, #f0d4e8, #fafafa);
  padding: 30px 0;
}

footer p {
  text-align: center;
  font-size: 1em;
}

footer ul {
  list-style: none;
  text-align: center;
}

footer i {
  font-size: 2.4em;
  color: purple;
}

/* from Bulma */

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: black;
  color: white;
  min-width: 260px;
}

.btn-black {
  background: black;
  color: white;
}

.btn-outline-black {
  background: white;
  color: black !important; /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: #000 !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

a.category-badge > span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

input[name="q"]::placeholder {
  color: #aab7c4;
}

/* Bootstrap Toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* On larger screens, increase container width */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Bootstrap lg breakpoint changes */
@media (max-width: 992px) {
  .brand-header {
    margin-top: 50px;
  }
  .video-caption h3 {
    font-size: 1.5em;
    top: 10%;
    line-height: 20px;
  }
  .custom-list {
      flex-direction: column;
      display: inline;
  }
  .nav-link {
      width:fit-content;
  }
  .cart {
      top:8em;
      right: 0.5em;
      width: fit-content;
      height: fit-content;
  }
  .bag {
      top:3.5em;
      right: 0.5em;
      width: fit-content;
      height: fit-content;
  }
  .navbar-brand {
      margin: 0 auto;
  }
}
