<section>
	<div class="button-divider-top"></div>
	<div class="button-container px-15">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-3 my-2">
                    <!-- Category styled button for Bags -->
					<div class="small-card">
						<h2>Bags</h2>
						<p>Africa Hab</p>
						<img
            class="pic"
            src="{{ MEDIA_URL }}bags.jpg"
            alt="bags"
          />
						<div class="flair">
							<i>F</i>
							<i>L</i>
							<i>A</i>
							<i>I</i>
							<i>R</i>
						</div>
						<a href="{% url 'products' %}?category=bags" class="dropdown-item">
							<div class="nav-button"></div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 my-2">
                    <!-- Category styled button for Dresses -->
					<div class="small-card">
						<h2>Dresses</h2>
						<p>Africa Hab</p>
						<img
            class="pic"
            src="{{ MEDIA_URL }}dresses.jpg"
            alt="dress"
          />
						<div class="flair">
							<i>F</i>
							<i>L</i>
							<i>A</i>
							<i>I</i>
							<i>R</i>
						</div>
						<a href="{% url 'products' %}?category=dresses" class="dropdown-item">
							<div class="nav-button"></div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 my-2">
                    <!-- Category styled button for Shoes -->
					<div class="small-card">
						<h2>Shoes</h2>
						<p>Africa Hab</p>
						<img
            class="pic"
            src="{{ MEDIA_URL }}shoes.jpg"
            alt="shoes"
          />
						<div class="flair">
							<i>F</i>
							<i>L</i>
							<i>A</i>
							<i>I</i>
							<i>R</i>
						</div>
						<a href="{% url 'products' %}?category=shoes" class="dropdown-item">
							<div class="nav-button"></div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 my-2">
                    <!-- Category styled button for Earrings -->
					<div class="small-card">
						<h2>Earrings</h2>
						<p>Africa Hab</p>
						<img
            class="pic"
            src="{{ MEDIA_URL }}earrings.jpg"
            alt="earrings"
          />
						<div class="flair">
							<i>F</i>
							<i>L</i>
							<i>A</i>
							<i>I</i>
							<i>R</i>
						</div>
						<a href="{% url 'products' %}?category=earrings" class="dropdown-item">
							<div class="nav-button"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="button-divider-bottom"></div>
</section>