<section>
	<div class="button-divider-top"></div>
	<div class="button-container px-15">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3">
					<div class="small-card">
						<h2>Bags</h2>
						<p>Africa Hab</p>
						<img
            class="pic"
            src="https://raw.githubusercontent.com/Voggastur/full-stack-framework-project/master/media/bags.jpg"
            alt="bags"
          />
						<div class="social">
							<i>F</i>
							<i>L</i>
							<i>A</i>
							<i>I</i>
							<i>R</i>
						</div>
						<a href="{% url 'products' %}?category=bags" class="dropdown-item">
							<div class="nav-button"></div>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="small-card">
						<h2>Dresses</h2>
						<p>Africa Hab</p>
						<img
            class="pic"
            src="https://raw.githubusercontent.com/Voggastur/full-stack-framework-project/master/media/apparel1.png"
            alt="dress"
          />
						<div class="social">
							<i>F</i>
							<i>L</i>
							<i>A</i>
							<i>I</i>
							<i>R</i>
						</div>
						<a href="{% url 'products' %}?category=dresses" class="dropdown-item">
							<div class="nav-button"></div>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="small-card">
						<h2>Wedding Jewelry</h2>
						<p>Africa Hab</p>
						<img
            class="pic"
            src="https://raw.githubusercontent.com/Voggastur/full-stack-framework-project/master/media/silhouette.jpg"
            alt="jewelry"
          />
						<div class="social">
							<i>F</i>
							<i>L</i>
							<i>A</i>
							<i>I</i>
							<i>R</i>
						</div>
						<a href="{% url 'products' %}?category=jewelry" class="dropdown-item">
							<div class="nav-button"></div>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="small-card">
						<h2>Earrings</h2>
						<p>Africa Hab</p>
						<img
            class="pic"
            src="https://raw.githubusercontent.com/Voggastur/full-stack-framework-project/master/media/earrings.jpeg"
            alt="earrings"
          />
						<div class="social">
							<i>F</i>
							<i>L</i>
							<i>A</i>
							<i>I</i>
							<i>R</i>
						</div>
						<a href="{% url 'products' %}?category=earrings" class="dropdown-item">
							<div class="nav-button"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="button-divider-bottom"></div>
</section>