{% extends "base.html" %}
{% load static %}
{% block extra_title %}- About{% endblock %}

{% block content %}
<div class="container">
	<div class="about">
		<h1 class="about-title">Our story</h1>
		<div class="about-container">
			<p class="about-text">
                Lidya, fashion designer.
                <br>
                <br>
                As a mother of a healthy child, she recently found more use of her dormant skills in tailoring for repairing clothes,
                and with inspiration from online DIY culture and positive influences she have become a full fledged
                practitioner in the arts of sewing, stitching, patterns and seams.
                However, her experience goes back further than that as tailoring has always been a hobby for Lidya.
                <br>
                <br>
                Her ambitions may not be grandiose as of yet, but together with support from friends and a good website hopefully she will get some attention
			</p>
		</div>
	</div>
</div>

{% endblock content %}